.text {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  margin: 70px 70px 30px;
  margin-top: -2.5%;
  margin-bottom: -2.5%;
}
.text h2 {
  font-size: 35px;
  color: #0ab6a6;
  margin-top: 5px;
  text-transform: none;
}

@media screen and (min-width: 786px) and (max-width: 1023px) {
  .text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
  }
}