.text{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 70px 70px 30px;
    margin-top: -2.5%;
    margin-bottom: -2.5%;
    
}
.text h2{
    font-size: 32px;
    color:#0ab6a6;
    margin-top: 5px;
    text-transform: none;
}