.impressum {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 70px 70px 30px;
  margin-top: 170px;
  margin-bottom: 28%;
}

@media screen and (max-width: 1023px) {
  .impressum {
    margin-top: 180px;
    flex-direction: column;
    margin-bottom: 310px;
  }

@media screen and (max-width: 767px) {
  .impressum {
    margin-top: 200px;
    flex-direction: column;
    margin-bottom: 310px;
  }
}
}