.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      #728a8fb3,
      #728a8fb3
    ),
    url("../../assets/vorort.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  text-align: center;
  max-width: 800px;
}
.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
}
.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  font-size: 20px;
}

@media screen and (max-width: 1023px) {
  .hero-texth1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .hero-text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 16px;
    margin: 15px auto;
  }
}
