.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}


.about-right {
  flex-basis: 80%;
}


.team-img {
  width: 100%;
  border-radius: 10%;
}

.about h2 {
  font-weight: 600;
  font-size: 37px;
  color: #0ab6a6;
  margin: 10px 0;
  max-width: 400px;
}

.about h6 {
  font-weight: 600;
  font-size: 16px;
  color: #61c7bdfd;
}

.about p {
  margin-bottom: 15px;
  font-size: 21px;
}
@media screen and (max-width: 1023px) {
  .about {
    flex-direction: column;
  }
  .about-left {
    flex-basis: 100%;
    margin: 20px;
  }

  .about-right {
    flex-basis: 100%;
  }
    @media screen and (max-width: 767px) {
      .about {
        flex-direction: column;
      }
  
      .about-left {
        flex-basis: 100%;
        margin: 20px;
      }
  
      .about-right {
        flex-basis: 100%;
      }
  }
}
