.footer {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #a8cecf;
  padding: 15px 0;
}

.footer p {
  margin-left: 14px;
  font-size: 20px;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 23px;
}
.footer-link {
  cursor: pointer;
}
.footer-link:active,
.footer-link:hover {
  color: #a8cecf !important;
  cursor: pointer;
}

@media screen and (min-width: 786px) and (max-width: 1023px) {
  .footer {
    display: block;
    text-align: center;
  }

  .footer ul li {
    margin: 10px;
  }

  .footer ul {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    text-align: center;

  }

  .footer p {
    margin-left: 0;
    font-size: 18px;

  }

  .footer ul li {
    margin: 10px;
  }

  .footer ul {
    margin-top: 10px;
  }
}
