.formular {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 70px 70px 30px;
    margin-top: 150px;
    margin-bottom: 19%;
    line-height: 2;
}
.formular-1{
    
}
.angaben h2{
    color: #48b6b9;
}
.angaben h6 {
    font-size: large;
}
@media (max-width:1016px) {
    .formular {
        margin-top: 170px;
        flex-direction: column;
    }
}