.datenschutz {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 70px 70px 30px;
  margin-top: 140px;
  margin-bottom: 22%;
}

@media screen and (max-width: 1023px) {
  .datenschutz {
    margin-top: 170px;
    flex-direction: column;
  }

@media screen and (max-width: 767px) {
  .datenschutz {
    margin-top: 170px;
    flex-direction: column;
  }
}
}